asgiref
cachetools
certifi
cffi
chardet
cryptography
defusedxml
django-mysql
django-taggit
django-taggit-serializer
django-use-email-as-username
djangorestframework
google-auth
gunicorn
idna
mysql-client
mysqlclient
oauthlib
Pillow
pyasn1
pyasn1-modules
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
rsa
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
Django~=3.2.3